/* these are constant classes 
Required css
default style
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #f8f9fd !important;
}

body {
  margin-top: 5.5rem;
  font-family: Vazir FD !important;
}

/*when scaling webiste image is not disapper behind page and scale */
img {
  max-width: 100% !important;
}

.df {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fix-poz {
  position: fixed;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: Vazir FD !important;
}

:root {
  --icon-hover: #3979d9;
  --icon-bg-hover: rgba(255, 255, 255, 0.85);
  --text-selection: #0274be;
}

::selection {
  background-color: var(--text-selection);
  color: #fff;
}

/* end of  constant classes */

/*-----------------START MAIN--------------*/
@media only screen and (max-width: 392px) {
  /* for firefox */
  .card_section {
    justify-content: center !important;
    text-align: center;
  }

  .card_section img {
    margin-left: 0 !important;
  }

  .card-2 {
    flex-basis: 50% !important;
  }

  .card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 2000px) {
  .hero__text h1 {
    font-size: 5rem !important;
  }

  .hero__text {
    max-width: 2000px !important;
  }
}

@media (max-width: 551px) {
  .section__text h1 {
    font-size: 1rem !important;
    margin: 0 0 1rem 0 !important;
  }
  .section__text p {
    margin: 0 0 1rem 0 !important;
  }
}

/*common mobile 576*/
@media only screen and (max-width: 1034px) {
  .section__text h1 {
    margin-top: 1rem !important;
  }

  .space {
    height: 9rem;
  }

  .neshan__do .left {
    align-items: center !important;
  }

  .neshan__do {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column !important;
    align-items: center !important;
  }

  .row {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column !important;
  }

  .section__img {
    order: 0;
  }

  .section__text {
    order: 1;
  }

  .blue_container {
    padding: 1rem !important;
  }

  .section__text p {
    padding: 0 12rem 2rem 12rem !important;
  }
}

@media only screen and (max-width: 766px) {
  .section__img {
    width: 100% !important;
  }

  .section__img img {
    max-width: 100% !important;
  }

  .neshan__do .right img {
    width: 100%;
  }
}

@media only screen and (min-width: 761px) {
  .go-down {
    display: none;
  }
}

.go-down {
  font-size: 20px;
  border-radius: 50%;
  padding: 11px 12px 6px 12px;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 3rem;
  right: 45.5%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 761px) {
  .icon__search {
    left: 10px !important;
  }

  .icon__container {
    justify-content: space-around;
  }

  /*for tablets*/
  .icon-search {
    flex-direction: column !important;
    align-items: stretch !important;
  }

  .search__container {
    margin-bottom: 1rem !important;
  }

  .black__container h1 {
    text-align: center;
    font-size: 1rem;
  }

  .icon__container div {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 1012px) {
  .container {
    max-width: unset !important;
    width: 100%;
    margin: 0 0 !important;
  }

  .section__text p {
    padding: 0 !important;
  }
}

/*small mobile 357 */

.hero__image {
  background-image: url(image/tehran.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 85px) !important;
  /* $a: 100vh 
  height: calc(#{$a} - 85px) */
  position: relative;
}

@media (max-width: 761px) {
  .hero__image {
    background-image: url(image/tehran360.jpg);
    background-position: center center;
    background-size: cover;
  }

  main {
    width: fit-content;
  }

  .hero__text {
    flex-direction: row-reverse;
  }

  .hero__text h1 {
    font-size: 2rem !important;
    flex-basis: 70% !important;
  }
}

.hero__text {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  top: 16%;
  position: relative;
  padding: 0 3rem;
}

.hero__text h1 {
  flex-basis: 40%;
  flex-shrink: 0;
  font-size: 3rem;
  font-weight: 900;
  color: #262626 !important;
  font-family: peyda !important;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;
}

.neshan__do {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.row {
  align-items: center;
}

.neshan__do h1 {
  font-family: peyda !important;
}

.section__text {
  flex-basis: 100%;
}

.top {
  margin-top: -7rem;
}

.section__text h1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: peyda !important;
  margin: 0 4rem 1rem 4rem;
}

.section__text p {
  color: rgba(255, 255, 255, 0.75);
  margin: 0 4rem 1rem 4rem;
}

.section__img {
  flex-basis: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.neshan__do .left {
  padding: 5rem 3rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.neshan__do .left h1 {
  margin-bottom: 20px;
}

.neshan__do .left .content {
  margin-bottom: 1.6em;
  /* text-align: center; */
}

.neshan__do .right {
  padding: 10px;
  flex-basis: 100%;
}

.btn__blue {
  display: flex;
  background-color: #3979d9;
  font-family: Vazir FD !important;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  width: fit-content;
  width: -moz-fit-content;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn__blue p {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.btn__blue:hover {
  transform: translateY(-10px);
}

.blue_container {
  padding: 3rem 5rem;
  background-color: #3979d9;
  border-radius: 1rem;
  color: white;
}

.black__container {
  border-radius: 1rem;
  background-color: #404040;
  margin: 5rem 2rem;
  padding: 3rem;
}

.black__container h1 {
  color: white;
}

.icon__bag,
.icon__restaurant,
.icon__atm,
.icon__build {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

.icon__build svg .path-bg,
.icon__atm svg .path-bg,
.icon__restaurant svg .path-bg,
.icon__bag svg .path-bg {
  fill: #404040;
  transition: 0.4s;
}

.icon__atm:hover > svg path {
  fill: var(--icon-hover);
  stroke: var(--icon-hover);
}

.icon__atm:hover .path-text {
  fill: white !important;
}

.icon__bag:hover > svg path {
  fill: var(--icon-hover);
  stroke: var(--icon-hover);
}

.icon__bag:hover .path-text {
  fill: white !important;
}

.icon__restaurant:hover > svg path {
  fill: var(--icon-hover);
  stroke: var(--icon-hover);
}

.icon__restaurant:hover .path-text {
  fill: white !important;
}

.icon__build:hover > svg path {
  fill: var(--icon-hover);
  stroke: var(--icon-hover);
}

.icon__build:hover .path-text {
  fill: white !important;
}

/* search box*/
.icon-search {
  align-items: center;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.search__container {
  flex-basis: 70%;
}
@media (max-width: 425px) {
  .black__container {
    padding: 2rem !important;
  }
}
.input-search input {
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: white;
  padding: 10px 1rem;
  font-family: Vazir FD !important;
  font-size: 0.9rem !important;
  width: 100%;
  line-height: 2rem;
}

.icon__search {
  position: absolute;
  top: 0.8rem;
  left: 20px;
  margin: 0 auto;
  padding: 5px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #bbbbbb;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bbbbbb;
}

::placeholder {
  color: #bbbbbb;
}

/*----------*/
/*---card---*/
/*---------*/
@media only screen and (max-width: 771px) {
  .card {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card_section {
    margin-top: 1rem;
    flex-grow: 1;
  }
  .card-1 {
    margin-left: 0 !important;
  }
  .card_section img {
    margin-left: 3rem;
  }
}

.card {
  justify-content: space-between;
  padding: 0 1rem;
}

.card__header h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-family: peyda !important;
}

.card-1 {
  flex-grow: 1;
  margin-left: 3rem;
}

.card-2 {
  /* flex-basis: 40%; */
  flex-grow: 1;
}

.card_section {
  background-color: #f2f4fb;
  border-radius: 1rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.card__btn p {
  font-size: Vazir FD !important;
}

.card__btn {
  margin-top: 1rem;
  border: 1px solid #4e7fea;
  border-radius: 20px 20px 20px 20px;
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-width: 2px 2px 2px 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: 0;
}

.card__btn:hover {
  transform: translateY(-7px);
  box-shadow: 1px 1px 6px 0px rgb(128 128 128 / 35%);
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__btn i {
  color: #4e7fea;
  margin-right: 1rem;
}

/* img section and text behind it */
.section__img.text {
  position: relative;
}

.blue_container .row .section__img::after {
  position: absolute;
  color: black;
  bottom: 0.5rem;
  font-weight: 900;
  font-size: 1.5rem;
  font-family: peyda;
}

.blue_container .row:nth-of-type(1) .section__img.text::after {
  content: "سرعت‌گیرها رو در نشان ببین!";
}

.blue_container .row:nth-of-type(2) .section__img.text::after {
  content: "با نشان دیگه جریمه نشو!";
}

.blue_container .row:nth-of-type(3) .section__img.text::after {
  content: "هرجا می‌خوای بری از نشان بپرس!";
}

/*-----------------END MAIN--------------*/

/*---------header--------------*/

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 5.4rem;
  top: 0;
}

header nav {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 2rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 0.9rem;
}

header nav ul li a {
  font: bold 0.875rem/1.1rem Vazir FD;
  color: #464646;
}

.logo img {
  height: 2.38rem;
}

.btn_header {
  display: flex;
  font: 600 0.875rem/1rem Vazir FD !important;
  align-items: center;
  padding: 0.32rem 0.81rem 0.3rem 1.31rem;
  border-radius: 100px;
  background-color: #3979d9;
  color: #fff;
  border: none;
  height: 36px;
}

.btn_header:hover {
  transition: all 0.3s ease;
  transform: translatey(-7px);
}

header a:hover {
  color: #3979d9;
}

/* Hamburger menu */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
}

/*---------end-header-----------------*/

/*---------Footer--------------*/

footer {
  height: 16rem;
}

.sub-footer {
  background-color: #222222;
  height: 3.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fixed-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.sub-footer p {
  color: #fff;
  font: 0.93rem Vazir FD;
}

.carzar {
  background-color: #fff;
  color: #3979d9;
  margin-right: 0.5rem;
  font: 0.93rem Vazir FD !important;
  border-radius: 20px;
  padding: 0.3rem 0.93rem;
  border: none;
  cursor: pointer;
  height: 31px;
}

.main-footer {
  margin: 0 2rem;
}

.container-row {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 1.5em;
}

.col-footer h4 {
  margin-bottom: 0.9em;
}

.col-footer a {
  display: block;
  color: #404040;
  font: 0.93rem Vazir FD;
  margin-bottom: 0.3em;
}

.address .container-addresse {
  margin-bottom: 1em;
}

footer i {
  color: #3979d9;
  padding-left: 0.5rem;
}

.cap {
  height: 11rem;
  width: 16.49rem;
  background-color: #eff1fa;
  border-radius: 0.62rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 7px;
  margin-top: 2rem;
}

.cap p {
  padding: 0.4rem;
  font: 700 1.12rem/1.4rem peyda !important;
  color: #4a529e;
  text-align: center;
}

.cap img {
  justify-self: flex-start;
  z-index: 1;
}

.copy-right {
  width: 100%;
  text-align: center;
  height: 3.5rem;
}

.copy-right a {
  color: #3979d9;
}

/*--------end-Footer-----------------*/
/* hamburger menu with CSS */
/* .checkbtn {
    font-size: 30px;
    color: #404040;
    float: left;
    line-height: 88px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
   */
@media only screen and (max-width: 1300px) {
  .cap {
    width: fit-content;
    flex-direction: row-reverse;
  }

  .cap img {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  header nav ul li a {
    font-weight: 600;
    font-size: 20px;
    line-height: 2rem;
    color: #fff !important;
    margin-bottom: 20px;
  }

  header nav ul li a:hover {
    color: #404040 !important;
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all 0.3s;
    flex-direction: column;
    background-color: #3979d9;
  }

  .nav-menu.active {
    right: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .btn_header {
    background-color: #fff;
    color: #3979d9;
    height: 50px;
    margin: 0 auto;
  }

  .btn_header svg {
    fill: #3979d9;
    color: #3979d9;
  }

  .fixed-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: fit-content;
  }

  .carzar {
    font: 0.7em Vazir FD !important;
    width: 100px;
    padding: 5px 0px;
  }

  .sub-footer p {
    font: 0.7rem Vazir FD;
  }

  .container-row {
    justify-content: flex-start;
  }

  .col-footer {
    flex-basis: 50%;
  }

  .address {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 100%;
  }

  br {
    display: none;
  }

  .social-media {
    display: flex;
    align-items: center;
  }

  .social-media p {
    margin-left: 20px;
  }

  .cap {
    width: fit-content;
    flex-direction: row-reverse;
    flex-grow: 1;
  }

  .cap p {
    align-items: flex-end;
  }

  .cap img {
    width: 40%;
  }

  .copy-right {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 374px) {
  .cap img {
    width: 60%;
  }
}

/*--------------#####---FONTS---#######33----------*/
@font-face {
  font-family: Vazir FD;
  font-weight: normal;
  src: url("fonts/Vazir-FD.woff2") format("woff2"),
    url("fonts/Vazir-FD.woff") format("woff");
}

@font-face {
  font-family: Vazir FD;
  font-weight: bold;
  src: url("fonts/Vazir-Bold-FD.woff2") format("woff2"),
    url("fonts/Vazir-Bold-FD.woff") format("woff");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 500;
  src: url("fonts/Vazir-Medium-FD.woff2") format("woff2"),
    url("fonts/Vazir-Medium-FD.woff") format("woff");
}

@font-face {
  font-family: Vazir FD;
  font-weight: 900;
  src: url("fonts/Vazir-Black-FD.woff2") format("woff2"),
    url("fonts/Vazir-Black-FD.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff2/PeydaWeb-SemiBold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-SemiBold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 750;
  src: url("fonts/woff2/PeydaWeb-Ultrabold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Ultrabold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff2/PeydaWeb-Black.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Black.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff2/PeydaWeb-Bold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff2/PeydaWeb-Regular.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff2/PeydaWeb-SemiBold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-SemiBold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 750;
  src: url("fonts/woff2/PeydaWeb-Ultrabold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Ultrabold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff2/PeydaWeb-Black.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Black.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff2/PeydaWeb-Bold.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: peyda;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff2/PeydaWeb-Regular.woff2") format("woff2"),
    url("fonts/woff/PeydaWeb-Regular.woff") format("woff");
}
